In [1]:
import os
import pandas as pd

import sys
sys.path.append(r'\\allen\programs\celltypes\workgroups\mousecelltypes\SarahWB\ccf_slice_registration')
from ccf_slice_registration_functions import *

In [20]:
input = pd.read_csv(r'\\allen\programs\celltypes\workgroups\mousecelltypes\SarahWB\ccf_slice_registration\slices_with_fiducials.csv')
input

,slide_specimen_id,specimen_name,x,y,z,structure_id,structure_acronym
0,1092005159,Glt25d2-Cre_NF107;Ai14-570372.07.09.01,6975.000000,4602.540872,9264.700937,672,CP
1,1110990523,Sst-IRES-Cre;Ai14-581875.06.04.01,4450.000000,5472.865854,6615.768293,56,ACB
2,1187605729,C57BL6J-634221.05.01.01,8493.426758,899.034302,4301.297363,257,VISpm6a
3,1239188594,Rbp4-Cre_KL100;Ai14-659000.10.06.02,10024.300780,3418.810303,4962.000000,795,PAG
4,1239188594,Rbp4-Cre_KL100;Ai14-659000.10.06.03,10096.353520,3550.541748,4962.000000,795,PAG
...,...,...,...,...,...,...,...
200,1077421614,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...,5150.000000,4953.839844,3325.142578,672,CP
201,1077421614,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...,5150.000000,4954.460873,8419.835053,672,CP
202,1105022850,Vip-IRES-Cre;Ai14-579327.06.03.02,3969.900723,5221.475713,4593.460027,56,ACB
203,1105022850,Vip-IRES-Cre;Ai14-579327.06.03.03,3970.730427,5789.121094,4581.594707,56,ACB
204,1105022850,Vip-IRES-Cre;Ai14-579327.06.03.04,3976.884439,5651.886442,4493.588238,56,ACB

In [21]:
input = input.rename(columns={'slide_specimen_id' : 'slice_id', 'specimen_name' : 'Specimen Name'})
input

,slice_id,Specimen Name,x,y,z,structure_id,structure_acronym
0,1092005159,Glt25d2-Cre_NF107;Ai14-570372.07.09.01,6975.000000,4602.540872,9264.700937,672,CP
1,1110990523,Sst-IRES-Cre;Ai14-581875.06.04.01,4450.000000,5472.865854,6615.768293,56,ACB
2,1187605729,C57BL6J-634221.05.01.01,8493.426758,899.034302,4301.297363,257,VISpm6a
3,1239188594,Rbp4-Cre_KL100;Ai14-659000.10.06.02,10024.300780,3418.810303,4962.000000,795,PAG
4,1239188594,Rbp4-Cre_KL100;Ai14-659000.10.06.03,10096.353520,3550.541748,4962.000000,795,PAG
...,...,...,...,...,...,...,...
200,1077421614,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...,5150.000000,4953.839844,3325.142578,672,CP
201,1077421614,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...,5150.000000,4954.460873,8419.835053,672,CP
202,1105022850,Vip-IRES-Cre;Ai14-579327.06.03.02,3969.900723,5221.475713,4593.460027,56,ACB
203,1105022850,Vip-IRES-Cre;Ai14-579327.06.03.03,3970.730427,5789.121094,4581.594707,56,ACB
204,1105022850,Vip-IRES-Cre;Ai14-579327.06.03.04,3976.884439,5651.886442,4493.588238,56,ACB

In [22]:
specimen_names = input['Specimen Name']
specimen_ids = []
for name in specimen_names:
    try:
        id = get_id_by_name(name.strip())
        specimen_ids = specimen_ids + [id]
    except:
        print('could not get id for ', name)
        specimen_ids = specimen_ids + [None]

In [23]:
input['Cell Specimen Id'] = specimen_ids

In [24]:
input = input[['slice_id', 'Cell Specimen Id', 'Specimen Name']]
input

,slice_id,Cell Specimen Id,Specimen Name
0,1092005159,1092058759,Glt25d2-Cre_NF107;Ai14-570372.07.09.01
1,1110990523,1111067076,Sst-IRES-Cre;Ai14-581875.06.04.01
2,1187605729,1187642587,C57BL6J-634221.05.01.01
3,1239188594,1239290032,Rbp4-Cre_KL100;Ai14-659000.10.06.02
4,1239188594,1239290535,Rbp4-Cre_KL100;Ai14-659000.10.06.03
...,...,...,...
200,1077421614,1077497389,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...
201,1077421614,1077512197,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...
202,1105022850,1105113624,Vip-IRES-Cre;Ai14-579327.06.03.02
203,1105022850,1105120258,Vip-IRES-Cre;Ai14-579327.06.03.03
204,1105022850,1105125008,Vip-IRES-Cre;Ai14-579327.06.03.04

In [25]:
input = input.dropna()

In [26]:
input

,slice_id,Cell Specimen Id,Specimen Name
0,1092005159,1092058759,Glt25d2-Cre_NF107;Ai14-570372.07.09.01
1,1110990523,1111067076,Sst-IRES-Cre;Ai14-581875.06.04.01
2,1187605729,1187642587,C57BL6J-634221.05.01.01
3,1239188594,1239290032,Rbp4-Cre_KL100;Ai14-659000.10.06.02
4,1239188594,1239290535,Rbp4-Cre_KL100;Ai14-659000.10.06.03
...,...,...,...
200,1077421614,1077497389,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...
201,1077421614,1077512197,Vipr2-IRES2-Cre;Slc32a1-IRES2-FlpO;Ai65-562071...
202,1105022850,1105113624,Vip-IRES-Cre;Ai14-579327.06.03.02
203,1105022850,1105120258,Vip-IRES-Cre;Ai14-579327.06.03.03
204,1105022850,1105125008,Vip-IRES-Cre;Ai14-579327.06.03.04

In [27]:
input.to_csv('cells_with_fiducials_20230825.csv', index=False)

In [2]:
cells = pd.read_csv(r'\\allen\programs\celltypes\workgroups\mousecelltypes\SarahWB\datasets\mouse_subcortical_msn_d1\09122023_ccf_reg\MSN_D1_Dataset_Sep_2023.csv')
cells

,Specimen Name,Cell Specimen Id,Pinned Structure,wholebrain_mapping,Unnamed: 4,Fiducials,Unnamed: 6
0,Rbp4-Cre_KL100;Ai14-618349.06.04.03,1164176584,ACB,813 MSN D1 Gaba_1,NaN,done,NaN
1,Pvalb-IRES-Cre;Ai14-609302.08.04.03,1150062826,ACB,813 MSN D1 Gaba_1,NaN,done,NaN
2,Pvalb-IRES-Cre;Ai14-609302.08.04.01,1150038344,ACB,813 MSN D1 Gaba_1,NaN,done,NaN
3,C57BL6J-618127.06.03.01,1165005356,ACB,815 MSN D1 Gaba_1,NaN,done,NaN
4,Rbp4-Cre_KL100;Ai14-618349.05.04.03,1164186195,ACB,816 MSN D1 Gaba_1,NaN,done,NaN
...,...,...,...,...,...,...,...
57,Htr3a-Cre_NO152;Ai14-612284.05.04.01,1153566411,ACB,830 MSN D1 Gaba_4,NaN,done,NaN
58,C57BL6J-617129.15.09.02,1162192211,CP,830 MSN D1 Gaba_4,NaN,done,NaN
59,Rorb-IRES2-Cre-neo;Ai14-611981.05.03.02,1153538989,ACB,830 MSN D1 Gaba_4,NaN,done,NaN
60,Rbp4-Cre_KL100;Ai14-613769.06.04.03,1155612022,ACB,830 MSN D1 Gaba_4,NaN,done,NaN
61,Vip-IRES-Cre;Ai14-614426.05.03.01,1157101457,ACB,830 MSN D1 Gaba_4,NaN,done,NaN

In [4]:
#only keep those with fiducials
cells = cells[cells['Fiducials'] == 'done']
len(cells)

56

In [5]:
cells = cells[['Cell Specimen Id', 'Specimen Name']]
cells.head()

   Cell Specimen Id                        Specimen Name
0        1164176584  Rbp4-Cre_KL100;Ai14-618349.06.04.03
1        1150062826  Pvalb-IRES-Cre;Ai14-609302.08.04.03
2        1150038344  Pvalb-IRES-Cre;Ai14-609302.08.04.01
3        1165005356              C57BL6J-618127.06.03.01
4        1164186195  Rbp4-Cre_KL100;Ai14-618349.05.04.03

In [12]:
for idx, cell in cells.iterrows():
    slice_name = cell['Specimen Name'].rsplit('.', 1)[0]
    slice_id = get_id_by_name(slice_name)
    cells.loc[idx,'slice_id'] = int(slice_id)

In [13]:
cells.head()

       slice_id  Cell Specimen Id                        Specimen Name
0  1.163564e+09        1164176584  Rbp4-Cre_KL100;Ai14-618349.06.04.03
1  1.149577e+09        1150062826  Pvalb-IRES-Cre;Ai14-609302.08.04.03
2  1.149577e+09        1150038344  Pvalb-IRES-Cre;Ai14-609302.08.04.01
3  1.164113e+09        1165005356              C57BL6J-618127.06.03.01
4  1.163563e+09        1164186195  Rbp4-Cre_KL100;Ai14-618349.05.04.03

In [14]:
cells = cells[['slice_id','Cell Specimen Id', 'Specimen Name']]
cells.head()

       slice_id  Cell Specimen Id                        Specimen Name
0  1.163564e+09        1164176584  Rbp4-Cre_KL100;Ai14-618349.06.04.03
1  1.149577e+09        1150062826  Pvalb-IRES-Cre;Ai14-609302.08.04.03
2  1.149577e+09        1150038344  Pvalb-IRES-Cre;Ai14-609302.08.04.01
3  1.164113e+09        1165005356              C57BL6J-618127.06.03.01
4  1.163563e+09        1164186195  Rbp4-Cre_KL100;Ai14-618349.05.04.03

In [16]:
cells.to_csv(r'\\allen\programs\celltypes\workgroups\mousecelltypes\SarahWB\datasets\mouse_subcortical_msn_d1\09122023_ccf_reg\MSN_D1_Dataset_Sep_2023_formatted.csv', index=False)